<h1>Ember-Tumblr Demo App</h1>

<div class="index">
  {{#link-to 'blog'}}<button>View Blog</button>{{/link-to}}
  {{#link-to 'linked-blog'}}<button>View Blog With Links</button>{{/link-to}}
  {{#link-to 'collapsed-blog'}}<button>View Blog With Collapsible Posts (Already Collapsed)</button>{{/link-to}}
  {{#link-to 'uncollapsed-blog'}}<button>View Blog With Collapsible Posts (Uncollapsed by Default)</button>{{/link-to}}
  {{#link-to 'sorted-blog'}}<button>View Blog With Sorted Posts</button>{{/link-to}}
  {{#link-to 'no-format-blog'}}<button>View Blog With Unformatted Dates</button>{{/link-to}}
  {{#link-to 'error-blog'}}<button>View Blog With No Posts Error</button>{{/link-to}}
</div>