<div class="index">
    <p>This addon allows you to quickly and effortlessly integrate the Tumblr API into your Ember application.</p>

    <p>Note: This project is still in a pre-stable (1.0.0) release. Not all functionality is supported, but the basic text post usage is stable.</p>
</div>