<h1>Ember-Tumblr Demo App</h1>

<div><button>{{#link-to 'blog'}}Click to View Blog{{/link-to}}</button></div>
<div><button>{{#link-to 'linked-blog'}}Click to View Blog With Links{{/link-to}}</button></div>

